*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(24, 2, 26, 0.76);
}
h1{display: flex;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    margin-left :50px;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
}

#content{
    width: 100vw;
    
 margin: 20px;
display: flex;
align-items: center;
justify-content: center;

    

}
#dibbe{
    
    margin: 10px;
    background-color: white;
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
}

#dibbe{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgba(24, 2, 26, 0.76);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h2{
    color: white;
    font-size: 35px;
}